@model Patient

<h2>Éditer Patient</h2>

<form asp-action="Modifier" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PatientId" />

    <div class="form-group">
        <label asp-for="Nom_p" class="control-label"></label>
        <input asp-for="Nom_p" class="form-control" />
        <span asp-validation-for="Nom_p" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prenom_p" class="control-label"></label>
        <input asp-for="Prenom_p" class="form-control" />
        <span asp-validation-for="Prenom_p" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sexe_p" class="control-label"></label>
        <input asp-for="Sexe_p" class="form-control" />
        <span asp-validation-for="Sexe_p" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Num_secu" class="control-label"></label>
        <input asp-for="Num_secu" class="form-control" />
        <span asp-validation-for="Num_secu" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Enregistrer" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

