﻿@using AP2_MedManager.ViewModels;
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@{
    Layout = null;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


<body>
    <div class="container right-panel-active" id="container">
        <div class="form-container sign-up-container">
            <form asp-action="Register" method="post">
                <h1>Créer un compte</h1>
                <div class="form-group">
                    <label asp-for="UserName">Pseudo</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nom_m">Nom</label>
                    <input asp-for="Nom_m" class="form-control" />
                    <span asp-validation-for="Nom_m" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prenom_m">Prenom</label>
                    <input asp-for="Prenom_m" class="form-control" />
                    <span asp-validation-for="Prenom_m" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Mots de passe</label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirmer le mots de passe</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">S'inscrire</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <a asp-action="Index" class="btn btn-primary">Déjà un compte ? Connexion</a>
                </div>
            </div>
        </div>
    </div>

</body>
