@model Antecedent

<h2>Créer un nouvel antécédent</h2>

<form asp-action="Ajouter" asp-controller="Antecedent" method="post">

    <div class="form-group">
        <label asp-for="Libelle_a">Nom l'antecedent</del></label> <input asp-for="Libelle_a" class="form-control" />
        <span asp-validation-for="Libelle_a" class="text-danger"></span>
    </div>

    <input type="submit" value="Créer antécédent" class="btn btn-primary" />
</form>