@model  Antecedent

<h2>Modifier un antécédent</h2>

<form asp-action="Modifier" asp-controller="Antecedent" method="post">

    <input type="hidden" asp-for="AntecedentId" />
    <div class="form-group">
        <label asp-for="Libelle_a"></label> <input asp-for="Libelle_a" class="form-control" />
        <span asp-validation-for="Libelle_a" class="text-danger"></span>
    </div>

    <input type="submit" value="Modifier antécédent" class="btn btn-primary" />
</form>
